<link rel="stylesheet" href="./stylesheets/index.css">

<img src="{{ user.photo }}" alt="">

<p><a href="/login/logout">Log out</a></p>
<p><a href="/course">Create a course</a></p>
<p><a href="/course/show">Show all courses</a></p>
<p><a href="/student">Create a student</a></p>
<p><a href="/student/show">Show all Students</a></p>
<p><a href="/professor">Hire a professor</a></p>
<p><a href="/professor/show">Show all professors</a></p>
