<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>ad subject to professor</title>
</head>
<body>
  
        <h2> List of professors of {{ subjectName }}</h2>
        {{#each professors}}
            <h1>Name: {{ this.hola }} Lastname: </h1>
            <a href="/professor/addsubject?id={{ subject }}&name={{ id }}">add Subject</a> 
        {{/each}}

    
</body>
</html>     
     
     
 